/*First page*/



/*PhotoAnimationtop*/

.container_slider_css
{
    margin:0px auto;
    width:100%;
    min-height:26em;
    overflow:hidden;
    position:relative;
}
.photo_slider_css
{
    position:absolute;
    animation:round 16s infinite;
    opacity:0;
    width:100%
}
@keyframes round 
{
25%{opacity:1}
40%{opacity:0}
}
img:nth-child(1){animation-delay:12s}
img:nth-child(2){animation-delay:8s}
img:nth-child(3){animation-delay:4s}
img:nth-child(4){animation-delay:0}
@media(min-width:100%) and (max-width:100%) 
{
.container_slider_css{
    width:100%;
    height:190px}
}
@media(min-width:100%) and (max-width:100%) 
{
.container_slider_css{
    width:100%;
    height:190px
}
}


/*Main code*/

body
{
    display: block;
    margin: 0px;
    background-color: rgb(214, 214, 214);
    align-items: right;
    justify-content: right;
    flex-direction: column;
}
.Mainhead a 
{
    color:white;
    text-decoration: none;
    
}
.Mainhead
{
    padding: none;
display: flex;
position:fixed; 
width: 100%;
height: 60px;
left: 0px;
top: 0px;
background: #000000;
flex: box;
color: seashell;
justify-content: right;
z-index: 20;


}

.link
{
font-size: 1em;
width: 350px;
height: 2rem;

display: flex;
justify-content:space-around ;
font-style:unset;
}

.pace
{
background-color: rgb(201, 197, 197);
display: flex;
width: 100%;
height: 10px;
}
.dophead
{
    
    padding-top: 52px;
    width: 100%;
    /* height: 90px; */
    display: flex;
    
    
}
.dophead img
{
    width: 100%;
    height: 4rem;;
}
.logo
{
display: flex;
justify-content: left;
width: 70%;
height: 3.78rem;
padding-left:3rem ;
}

.kartina
{
    display: flex;
    width: 100%;
   min-height:100% ;
    
}
.kartina img
{
    width: 100%;
    height: 100%;
    
}
.firstvklad
{
    display: flex;
    width: 100%;
    min-height: 500px;
    margin-top: 2rem;
    padding-top:2rem ;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
p.firstvklad
{

}

.first
{
    text-align: center;
    flex: 1 1 30%; 
    min-width:400px;
    padding-top: 0.7rem;
    font-size: 1.10rem;
    margin: 1rem;
    font-family: Futura,sans-serif;
    background-color: rgb(44, 42, 42);
    color:whitesmoke;
    
    
       
}
.second
{
    text-align: center;
    flex: 1 1 30%; 
    min-width:400px;
    font-size: 1.10rem;
    margin: 1rem;
    font-family:Futura,sans-serif;
    background-color: rgb(44, 42, 42);
    color:whitesmoke;
    
}
.third
{
    text-align: center;
    flex: 1 1 30%; 
    min-width:400px;
    font-size: 1.10rem;
    margin: 1rem;
    font-family:Futura,sans-serif;
    background-color: rgb(44, 42, 42);
    color:whitesmoke;
    
}
.kartinka2
{
    display:flex;
    width: 100%;
    

}
.kartinka2 img
{

    width: 100%;
    
    
}
.secondvklad
{
    display: flex;
    /* padding-left: 30px; */
    padding-top: 100px;
    height: 100%;
}
.firstinvklad
{
    /* position: relative;
    display: inline-block; */
    display: flex;
    justify-content: left;
    width: 40%;
    font-size: 2vw;
    text-align: center;
    font-family:Futura,sans-serif;
    /*padding-right:20px ;*/
    background-color: rgb(44, 42, 42);
    color:whitesmoke;
}
.secondinvklad
{
    /* position: relative; */
    /* display: inline-block; */
    display: flex;
    justify-content: right;
    width: 60%;
    color:whitesmoke;
    font-size: 1.3vw;
    text-align: center;
    font-family:Futura,sans-serif;
    /* padding-right:20px ; */
    background-color: rgb(44, 42, 42);
}

.ZagWidget
{
  font-size: 1.8rem;
  color: whitesmoke;
  text-align: center;
  /* margin-left: 12rem; */
}
/* .info
{
    display: flex;
background-color: rgb(36, 34, 34);
width: 100%;
height: 100px;
position: static;
} */
footer{
  position: absolute;
  width: 100%;
  height: 10rem;
  background-color: rgb(15, 15, 15);
}



/*PhotoAnimation*/

.adaptivny-slayder {
    position: relative;
    max-width: 100%;
    margin: 50px auto;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
    margin-bottom: 7rem;
  }
  
  .adaptivny-slayder input[name="kadoves"] 
  {
    display: none;
  }
  
  .kadoves {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
  
  }
  
  .kadoves label 
  {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
    border-radius: 50%;
    border: 5px solid #2f363c;
    background-color: #738290;
  }
  
  #slaid1:checked~.kadoves label[for="slaid1"] {
    background-color: white;
  }
  
  #slaid2:checked~.kadoves label[for="slaid2"] {
    background-color: white;
  }
  
  #slaid3:checked~.kadoves label[for="slaid3"] {
    background-color: white;
  }
  
  .adaptivny-slayder-lasekun {
    overflow: hidden;
     
  }
  
  .abusteku-deagulus {
    display: flex;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
  }
  
  .abusteku-deagulus img {
    width: 100%;
    flex-shrink:0;
  }
  
  #slaid1:checked~adaptivny-slayder-lasekun abusteku-deagulus {
    transform: translate(0);
  }
  
  #slaid2:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
    transform: translateX(-100%);
  }
  
  #slaid3:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
    transform: translateX(-200%);
  }

/*Bottom*/

  .button{
    display: inline-flex;
    
    justify-content: center;
    border: 0.1rem;
    margin: 1%;
    padding: 1%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1em;
    padding-top: 1rem;
    border-style: groove;
    max-width: 20%;
    text-decoration: none;
    border-color: rgb(179, 173, 173);
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.945);
    background-color: rgb(163, 159, 159);
    min-width: 1.3rem;
    
    
}

#textone
{
    font-size: 1rem;
    text-align: center;
    margin-left: 3rem;
    margin-top: 3rem;
}
.secondvklad
{
    display: flex;
    padding-top: 80px;
    height: 100%;
    justify-content: space-around;
}

.supercenter
{
    display: block;
    text-align: center;
    margin: 1.5rem;
    margin-top: 3rem;
    background-color:rgb(46, 43, 43) ;
    width: 100%;

}






/*Logo animation*/


.ltr {
  display: inline-block;
  animation-delay: calc(var(--i) * 250ms);

  animation-name: wiggleWiggle;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-timing-function: steps(2, end);
  animation-iteration-count: infinite;
}

@keyframes wiggleWiggle {
  20%,
  100% {
    transform: translate(0, 0px);
  }

  0% {
    transform: translate(0, -2px);
  }
  10% {
    transform: translate(0, 0px);
  }
}
h1 {
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif; /* ?... */
   letter-spacing: 2px; 
   margin-top: 25px;
   font-size: 1.0REM; 
   font-weight: 100px; 
 } 

 /*AnimationLink*/

 /* Global Button Styles */

a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  /* margin: 30px auto 0;
  padding: 14px 15px;  */

  color: #fff;
  font-size:1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
   letter-spacing: .08em;
  border-radius: 0; 
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  }
  a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
  }
  a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #FFF;
  text-shadow: none;
  }
  a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%;
  }
  a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  margin: 0.3rem auto 0;
  padding: 0.3rem 0.3rem;
  color: #fff;
  font-size:0.8rem;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  /* letter-spacing: .08em; */
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  }
 /* Thar Buttons */
 .animated-button.thar-one 
{
  padding-left: 20px;
}
a.animated-button.thar-one {
  color: #fff;
  
  cursor: pointer;
  display: block;
  position: relative;
  border:2px black;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  a.animated-button.thar-one:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: none;
  }
  a.animated-button.thar-one:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
  }
  a.animated-button.thar-one:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #F7CA18;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
 
  a.animated-button.thar-three {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  }
  a.animated-button.thar-three:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: nthree;
  }
  a.animated-button.thar-three:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
  }
  a.animated-button.thar-three:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #F7CA18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  
  }
 
.row
{
display: inline-flex;
text-align: right;
margin: 1.1rem;
}
.texttone
{
  margin: 0.6rem;
}

/* Text Animation (работает только без флекса)*/ 

   /* .element-animation */
    /* {       */
    /* Скроем элемент в начальном состоянии  */
    /* opacity: 0;
    transform: translateY(20px);
  } */

  /* .element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
  } */





/* Блок вопросов и ответов */

 .popup_container{
    display: flex;
    width: 100%;
    height: 80%;
    text-align: center;
}
.popup_body{

    margin: auto;
    width: 90%;
    height: 60%;
    background-color:rgb(46, 43, 43);
    border: 10px;
    text-align: center;
    padding: 100px 15px 110px 15px;
    position: relative;
    color:rgb(216, 215, 215);
}
.popup_close{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
}

.popup{
    display: none;
    
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(46, 43, 43);
    z-index: 2;
}
.popup.active{
    display: block;
    text-align: center;
}
.popup.passive{
    display: none;
}
#popup{
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    margin-right: 5rem;
}
#popup.active{
    display: block;
}
#popup_close{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
}
.scenter{
    display: block;
    text-align: center;
    width: 100%;
    height: 90%;
    background-color: rgb(46, 43, 43);
    margin-top: 4rem;
}
.otvets{
    
    width: 100%;
    height: 90%;
    background-color: rgb(46, 43, 43);
    text-align: center;
}
.buttonsv{
    display: inline-flex;
    
    justify-content: center;
    border: 5px;
    margin: 1%;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    border-style: groove;
    max-width: 20%;
    text-decoration: none;
    border-color: rgb(179, 173, 173);
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.945);
    background-color: rgb(163, 159, 159);
    min-width: 66px;
    box-shadow: #000000 3px;
    
}

/* AnimationBlockTechnology 2.0 */

.anim-show{
  /* width:300px; */
  /* background:#176387; */
  /* color:#fff; */
  /* font-size:25px; */
  /* border:3px solid #2BA2DB;
  padding:20px; */
  /* margin:auto;
  margin-bottom:20px; */
  /* text-align:center; */
  opacity:0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 4s; /*Скорость перехода состояния элемента*/
  animation: show 3s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 1s; /* Задержка перед началом */
  }

  @keyframes show{
    0%{
    opacity:0;
    }
    100% {
    opacity:1;
    }
    }



/* Виджет тестпада */

    .Onlineblock
    {
      flex: box;
      margin: 0%;
      width: 100%;
    background-color: rgb(44, 42, 42);
      justify-content: center;
      height: 47em;
      position: relative;/* Это создаст контекст позиционирования для списка вариантов */
      display : inline-block;/* Это сделает наш виджет частью текстового потока и одновременно сделает его
        изменяемого размера */
    }
    .First
    {
      padding-top:4rem ;
      padding-left:2rem ;
      margin:0px ;
      width:70%;
      height: 20rem;
      
      
    }

    
    #otp_wgt_5g6a5k7ne7iem
    {

      width:70%;
      height: 30rem;
    }

    /* MainMENU */


    #menu__toggle {
      opacity: 0;
    }
    
    #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      left: 0;
    }
    
    .menu__btn {
      display: flex;
      align-items: center;
      position: fixed;
      top: 20px;
      left: 20px;
    
      width: 26px;
      height: 26px;
    
      cursor: pointer;
      z-index: 1;
    }
    
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
    
      width: 100%;
      height: 2px;
    
      background-color: #b1b1b1;
    
      transition-duration: .25s;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    
    .menu__box {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: -100%;
    
      width: 300px;
      height: 100%;
    
      margin: 0;
      padding: 80px 0;
    
      list-style: none;
      border:rgb(139, 139, 139) ;
      background-color: #050505;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    
      transition-duration: .25s;

      
    }
    
    .menu__item {
      display: block;
      padding: 12px 24px;
    
      color: rgb(70, 69, 69);
    
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
    
      text-decoration: none;
    
      transition-duration: .25s;
    }
    .menu__item:hover {
      background-color: #CFD8DC;
    }






    /* Second Page */



    .Blockfirst
    {
      text-align: center;
    flex: 1 1 30%; 
    /* min*/ width:100%; 
    /* del */
    height: 5rem;
    /* del */
    /* padding-top: 0.7rem; */
    font-size: 1.10rem;
    /* margin: 1rem; */
    font-family: Futura,sans-serif;
    background-color: rgb(214, 214, 214);
    color:whitesmoke;
    }


    /* Скрытый блок Github */

    
    p#first {
      text-align: center;
       cursor: pointer;
       color: rgb(27, 26, 26);
      font-family: cursive;
      line-height: 13px;
      text-indent: 22px;
      line-height: 33px;
      /* border: 1px solid #222121; */
      font-size: 18px;
      background-color: #e2ceb4;
      
      
      }
      
      p#first_yelloy {
        text-align: center;
      cursor: pointer;
      background:rgb(41, 38, 38);
      font-size: 18px;
      color: whitesmoke;
      text-indent: 22px;
      line-height: 33px;
      z-index: 200;
      
      /* border: 1PX SOLID #ff9900; */
      
      }
      
      #second_hide
      {
        background-color:rgb(44, 42, 42) ;
        text-align: left;
        padding-top: 0.6rem;
        padding-left: 2rem;
        padding-bottom: 1rem;
       color: whitesmoke;
        
      }
      .mainred
      {
        width: 100%;
        height: 20rem ;
        background-color:rgb(44, 42, 42) ;
        
        
      }
      /* Спотифай */
  .test { 

    margin: 30px 0px;
  border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,.3);
    /* justify-content: right; */
    position: fixed;
    align-items: right;
    z-index: 100;
    
  }
/* REDACTORS */
  .Codepen
  {
    width: 100%;
    /* height: 33rem; */
    width: 100%;
    height: 120%;
    background-color:rgb(27, 26, 26) ;
    background-color:rgb(214, 214, 214) ;
  }
  .ending
{
    display: flex;
    width: 100%;
    height: 50%;
     /*min-height: 500px; */
    /* margin-top: 2rem; */
    padding-top:2rem ;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
   
    
}
 
.eone
{
    text-align: center;
    flex: 1 1 30%; 
    
    
    /* padding-top: 0.7rem; */
    font-size: 1.10rem;
    margin: 1rem;
    font-family: Futura,sans-serif;
    background-color: rgb(44, 42, 42);
    color:whitesmoke;
    width: 100%;
    height: 100%;   
    background: none;
   
}

.Codepen1
  {
    
    width: 100%;
    /* height: 33rem; */
    width: 100%;
    background-color:rgb(214, 214, 214) ;
    background-color:rgb(27, 26, 26) ;
    
  }
  .nameredacktor
  {
    font-family: sans-serif;
    
    color: whitesmoke;
    background-color:rgb(31, 30, 30) ;
    font-family: cursive;
    font-size: 1.0rem;
    text-align: center;
    padding-top: 2rem;
  }
  
  
.item{
display: flex;
flex-direction: column;
margin: 1rem;
flex: 1 1 calc(25% - 2rem);
min-width:170px;
padding: 23px;
text-decoration: none;
font-family: cursive;
position: relative;
width: 200px;
/* // background-color: rgb(44, 42, 42); */
width: 100%;} 
 .items{
    width: 100%;
    display: flex;
    font-family: cursive;
    color: whitesmoke;
    background-color: black;
  
}
.er{ 
  text-decoration: none;
  color: black;
  margin: 0px;
  padding: 0px ;
  text-align: center;
  font-family: cursive;
  color: whitesmoke;
}
.itemtitle{
  display: block;
  margin-top: 0 auto;
  
  text-decoration: none;
  color: grey;
  margin-top: 0px;
  padding: 0px ;
  text-align: center;
  font-family: cursive;
  color: whitesmoke;
}
.texting{
  display: block;
  margin-top: 0 auto;
  font-size: 1.2rem;
  text-decoration: none;
  color: grey;
  margin-top: 0px;
  padding: 0px ;
  text-align: center;
  font-family: cursive;
  color: whitesmoke;
}
#id{
  font-size: 1.3rem;
}
.ourteamer{
  display: block;
  margin-top: 0 auto;
  font-size: 1.8rem;
  text-decoration: none;
  color: grey;
  margin-top: 0px;
  padding: 0px ;
  text-align: center;
  font-family: cursive;
  color: whitesmoke;
}
.ourteam{
  display: block;
  margin-top: 0 auto;
  font-size: 2rem;
  text-decoration: none;
  color: grey;
  margin-top: 2rem;
  padding: 0px ;
  text-align: center;
  font-family: cursive;
  color: whitesmoke;
}
.backfon{
    background-color: #333333;
padding-top: 4.5rem;
padding-bottom: 2rem;
}
.our{
    display: block;
    margin-top: 0 auto;
    font-size: 1.6rem;
    text-decoration: none;
    color: grey;
    margin-top: 2rem;
    padding: 0px ;
    text-align: center;
    font-family: cursive;
    color: whitesmoke;
}
#kur{
    display: block;
    margin-top: 0 auto;
    font-size: 2rem;
    text-decoration: none;
    color: grey;
    margin-top: 2rem;
    padding: 0px ;
    text-align: center;
    font-family: cursive;
    color: rgb(5, 4, 4);
}
/* ПОДВАЛ */

footer
{
  width: 100%;
display: flex;

}

.Icons_google
{
  
  margin-left:2.8rem ;
  width: 50rem;
 
  justify-content: right;
}
.firstfoot
{
  width: 50%;
  margin-top: 4.5rem;
}
.secondfoot
{
width: 50%;
}
.textfoot
{
  color: whitesmoke;
  justify-content: right;
 padding-top: 3.5rem;
  /* padding-left:30%; */
  text-align: right;
  font-size: 0.5rem;
  padding-right: 2rem;

  
 
}
.imgfoot
{
 width: 4%; 
 height: 4%;
}
.email
{
  margin-top: 4rem;
color: whitesmoke;
}